body  {

  font-size: 18px;
  font-family: helvetica;
  color: white;
}

#logo {
  width: 960px;
  align-self: center;
  background-color: black;
}

#logo img {
  height: 1.5rem;
  width: auto;
  padding-left: 0.5rem;
  padding-right: 1rem;
}
